/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .box{ background-color: aqua;
        color: white; } 
    .sm,.md,.lg,.xl,.xxl{display: none;}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .box{
        background-color: blueviolet;
        color: white;}
        .ex_sm,.md,.lg,.xl,.xxl{display: none;}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .box{
        background-color: blue;
        color: white;}
        .ex_sm,.sm,.lg,.xl,.xll{display: none;}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .box{
        background-color: coral;
        color: white;}
        .ex_sm,.sm,.md,.xl,.xxl{display: none;}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .box{
      background-color: darkorange;
      color: white;}
      .ex_sm,.sm,.md,.lg,.xxl{display: none;}
}

/* Extra Extra large devices (Extra large desktops, 1400px and up)*/
@media (min-width: 1200px) {
    .box{
         background-color: fuchsia;
         color: aliceblue;}
   .ex_sm,.sm,.md,.lg,.xl{display: none;}
}